<html>
    <title>
        Quiz Score card
      </title>
      <head>
          <link rel="stylesheet" href=" {{url_for('static',path='/quizs.css')}}">
          <link rel="stylesheet" href="{{url_for('static',path='/login.css')}}">
      </head>
      
      <body><center>
                    <div class="Historybox custom"> <h3>  Your Scores </h3>
                       {% for userscore in rows %} <table id="customers">
            
                <tr><th>Category</th><td>{{ userscore.category }}</td></tr>
                <tr><th>Level</th><td>{{ userscore.level}}</td></tr>
                <tr><th>Score</th><td>{{ userscore.score}}</td></tr>
                <tr><th>Completed Time</th><td>{{ userscore.duration }} secs</td></tr>  </table><br>
                {% endfor %}
          <br>
                        <button  id="homeBtn">Home</button>
                        <button  id="exitBtn">LogOut</button></center>
                     </div>
        <script>
              const homeBtn=document.getElementById("homeBtn");
             const exitBtn=document.getElementById("exitBtn");
             
             //Brings the category selection page after clicked home button clicked
            homeBtn.addEventListener('click',function(){
    window.location='/login';
})

//Brings to login page after exit button clicked
    exitBtn.addEventListener('click',function(){
    window.location='/'
})
</script>             
</body>
</html>
