{% extends "dashboard.html" %}
{% block content %}
              
               
<div class="cont">
<div class=option><form  method=post action="/qa.html">
    <div class="imgcontainer"><h3>Update Q&A</h3>
    </div>
    <div>
      <label for="qget"><b>Question</b></label>
      <input type="text" name="id" id="id" style="display:none;" value= {{ rowsget.id}}>
      <textarea  name="qget" id="qget">{{ rowsget.question}}</textarea>
      <label for="ans1"><b>Option1</b></label>
      <input type="text" name="ans1" id="ans1" value= {{ rowsget.incorrect_answer1}}>
      <label for="ans2"><b>Option2</b></label>
      <input type="text"  name="ans2" id="ans2" value= {{ rowsget.incorrect_answer2}} >
      <label for="ans3"><b>Option3</b></label>
      <input type="text" name="ans3" id="ans3" value= {{ rowsget.incorrect_answer3}}>
      <label for="ans"><b>Correct Option</b></label>
      <input type="text"  name="ans" id="ans" value= {{ rowsget.correct_answer}} >
      <label for="cat"><b>Category</b></label>
      <input type="text" name="cat" id="cat" value= {{ rowsget.category}}>
      <label for="levelget"><b>Level</b></label>
      <input type="text"  name="levelget" id="levelget" value= {{ rowsget.level}} >
 
      <button type="submit" class="cancelbtn" style="left: 90%;">Ok</button>
      

  </div>
  </form>
  </div>

</div>
    
  {% endblock %} 